@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.content-center {
    padding: 2rem;
    //background-color: rgb(32, 76, 112);
    position: absolute;
    box-shadow: 0px 0px 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    text-align: center;
    .header {
        h1 {
            font-size: 5rem;
            padding: 1rem;
            font-family: 'Bangers', cursive;
            //color: white;
        }
    }
    .images {
        width: 30rem;
        height: 25rem;
        border: 1px solid rgb(22, 22, 22);
        img {
            width: 29.9rem;
            height: 24.9rem;
        }
    }
    .button {
        padding: 1rem;
        button {
            padding: 1rem;
            cursor: pointer;
            font-size: 1.5rem;
            font-family: 'Crimson Text', serif;
            border: 1px solid black;
            border-radius: 15px;
            &:hover {
                box-shadow: 0px 0px 10px white;
            }
        }
    }
}

@media(max-width:900px) {
    .content-center {
        padding: 0;
    }
    .content {
        padding: 1rem;
        .images {
            width: 22rem;
            height: 20rem;
            img {
                width: 21.9rem;
                height: 19.9rem;
            }
        }
    }
}